
/* common style */
.btnStyle {
  border: 2px solid #2af12ae3;
  background-color: #00ff0031;
  border-radius: 0.3rem;
  color: #18c818;
  font-weight: 500;
}

#bannerSection, #offer-section, nav {

    margin: 0 2rem;
}

input, body{

     background-color: white;
     color: black;
}

/* Banner section */

#bannerMainPartContainer {
  height: 400px;
  background-image: linear-gradient(#0b01017a, #0b01017a),
    url("../images/banner.png");
  background-size: 100% 100%;
  
}

#cartsContainer > div {
  border-bottom : 4px solid red;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 15px 5px;
  background-color: #fffffff6;
}

/* Cards of coupons section*/


.coupon {

     display: flex;
     justify-content: center;
     align-items: center;
     height: 150px;
     border-radius: 0.5rem;
}

.coupon img{

       height: 100%;
}

.code{

     font-size: 1.2rem;
     font-weight: bold;
}

/* transportation Section */

#boxesContainer > p {

      background-color: #8080804f;
      border-radius: 0.4rem;
      padding: 1rem 0.5rem;
      width: 100%;
      
}

#passengerFormContainer h2{

    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

#passengerFormContainer input{

     border: 2px solid rgba(128, 128, 128, 0.601);
     border-radius: 0.4rem;
     padding: 0.7rem 1rem;
     width: 100%;
     margin-bottom: 0.8rem;
    
} 

/* Css for Seats div */

#allSeatContainer > div {

   
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#allSeatContainer > div > div {

      display: flex;
      align-items: center;
      width: 100%;
      gap: 1rem;
      
     
      
}

#allSeatContainer > div > div p:nth-child(3){

    margin-left: auto;
}

#allSeatContainer h2{

      width: 20px;
      color: rgb(128, 0, 255);
      font-weight: bold;
      font-size: 1.2rem;
}

#allSeatContainer p{

      background-color: #8080802a;
      padding: 1rem 2.5rem;
      border-radius: 0.4rem;
      width: 105px;
      cursor: pointer;
}


/* ========================== jQuary ====================== */

/* nav */

@media only screen and (max-width: 639px) {
  body {
    padding: 0 !important;
  }
  #bannerSection, #offer-section, nav {

    margin: 0;
}
  #offer-section{

     margin: 0 0.5rem;
  }
  nav ul li {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }
  nav ul li:hover {
    background-color: #f0cbcb;
  }

  /* coupon section */
  #cartsContainer > div{

      height: 140px;
  }
  #cartsContainer > div {

     background-color: #ff770022;
   }
   /* Ticket section styles */
   #allSeatContainer p{
   
    padding: 0.5rem;
    width: 40px;
   }
   #allSeatContainer h2{

    width: 15px;
}
}
